<h1>
  <%= @movie.title %>
  <small>
    <a href="/movies/<%= @movie.id %>/edit">Edit This Movie</a>
    <%= link_to "Delete This Movie", "/movies/#{@movie.id}", :method => :delete %>
  </small>
</h1>

<div class="details">

  <p><%= image_tag @movie.image_url, class: 'pull-right' %></p>

  <p><strong>Directed By: </strong>
     <% director = Director.find_by(id: @movie.director_id) %>
     <%= link_to director.name, "/directors/#{director.id}" %>
  </p>

  <p><strong>Released:</strong> <%= @movie.year %></p>
  <p><strong>Plot:</strong> <%= @movie.plot %></p>


  <p><strong>Actors: </strong></p>
  <ul>
    <li><%= link_to "Actor #1", "/actors/#{Actor.first.id}" %></li>
    <li><%= link_to "Actor #2", "/actors/#{Actor.last.id}" %></li>
  </ul>

</div>
