<h1>
  <%= @movie.title %>
  <small>
    <a href="/movies/<%= @movie.id %>/edit">Edit This Movie</a>
    <%= link_to "Delete This Movie", "/movies/#{@movie.id}", :method => :delete %>
  </small>
</h1>

<div class="details">

  <p><%= image_tag @movie.image_url, class: 'pull-right' %></p>

  <p><strong>Directed By: </strong>
     <% director = Director.find_by(id: @movie.director_id) %>
     <%= link_to director.name, "/directors/#{director.id}" %>
  </p>

  <p><strong>Released:</strong> <%= @movie.year %></p>
  <p><strong>Plot:</strong> <%= @movie.plot %></p>


  <p><strong>Actors: </strong></p>
  <% roles = Role.where(movie_id: @movie.id) %>
  <ul>
    <% roles.each do |role| %>
      <% actor = Actor.find_by(id: role.actor_id) %>
      <li><%= link_to actor.name, "/actors/#{actor.id}" %></li>
    <% end %>
  </ul>

</div>
